{:paths ["src"]
 :deps {
        ;; kotoba.bytes replaced UTF-8 .getBytes / String. here (2026-09-24). An explicit
        ;; floor: tools.deps takes the NEWEST sha it is shown.
        io.github.kotoba-lang/bytes {:git/sha "7a286888fcd9288ea1c5136f82a84749e70175cd"}
        io.github.kotoba-lang/json
        {:git/url "https://github.com/kotoba-lang/json.git"
         :git/sha "79eb17c7ee4df86a3c35598cdaf5791eeebbf45f"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
